<div id="squares">
  <% _.times(height, function(i){ %>
    <% _.times(width, function(j){ %>
      <div class="square" data-column="<%= j %>" data-row="<%= i %>"></div>
    <% }) %>
  <% }) %>
</div>