<div class="row">
    <h2>Your Gardens</h2>
</div>
<% _.each(items, function(item){ %>
    <div class="row">
        <div class="col-md-2">
            <a href="gardens/<%= item.id %>"><%= item.title || item.id %></a>
        </div>
    </div>
<% }) %>
