<h1>A garden!</h1>
<select data-ui='plants'>
    <option>No Plant</option>
    <% _.each(plants, function(plant){ %>
        <option value="<%= plant.id %>"><%= plant.name %></option>
    <% }) %>
</select>
