<div class="row">
    <div class="col-md-12 text-center">
        <h2>New Garden</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="form-group">
            <label class="sr-only" for="height">Height of Garden</label>
            <div class="input-group">
                <input type="text" class="form-control" name="height" placeholder="Height">
                <div class="input-group-addon">in.</div>
            </div>
         </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="sr-only" for="height">Width of Garden</label>
            <div class="input-group">
                <input type="text" class="form-control" name="width" placeholder="Width">
                <div class="input-group-addon">in.</div>
            </div>
         </div>
    </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" name="title">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Create!</button>
            </span>
        </div>
    </div>
</div>
